
body{
    margin: 0;
    padding: 0;
    background: rgba(255,255,255,.5);
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("../images/background.png");
    min-height: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    color: #fff;
    font-family: "montserrat", sans-serif;
}
.container{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}
.container > h2{
    font-size: 200px;
    font-weight: 900;
    margin: 0;
    background: url("../images/img3.jpg") center no-repeat;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.container > p{
    font-size: 20px;
}
.container > .buttonSec{
    margin-top: 50px;
}
.buttonSec > a{
    background-color: orangered;
    padding: 1.5rem;
    color: #000000;
    text-decoration: none;
    border-radius: 50px;

}
