* {
    box-sizing: border-box;
}

body {
    background: #eee;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 0 15px;
}

.tabs {
    position: relative;
    width: 800px;
    margin-top: 150px;
    padding: 0;
    border: 1px solid #dee8f2;
}

.tab-content {
    position: absolute;
    display: none;
    height: 100%;
    padding: 15px;
    background: white;
    top: 0;
    left: 180px;
}

p {
    margin: 0;
}

input {
    display: none;
}

label {
    display: block;
    width: 180px;
    padding: 15px;
    color: #000000;
    font-weight: 700;
    background: #34da37;
    cursor: pointer;
}

input:checked + label {
    color: #000000;
    background: white;
}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4 {
    display: block;
}

.tab-content {
    animation: scale 0.7s ease-in-out;
}

@keyframes scale {
    0% {
        transform: scale(0.9);
        opacity: 0;
    }
    50% {
        transform: scale(1.005);
        opacity: 0.5;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@media (max-width: 425px) {
    .tab-content {
        position: relative;
        left: 0;
    }

    label {
        width: 100%;
    }

    input:checked + label {
        border-bottom: 1px solid #9278aa;
    }
}
