.spoiler_wrap {
    position: relative;
    min-height: 30px;
    margin-bottom: 15px;
}

.spoiler_title {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    height: 30px;
    z-index: 1;
        font-weight: 600;
        font-size: 18px;
}

.toggle:checked~.spoiler_title,
.spoiler_title:hover {
    color: #EA2816;
}

.icon {
    height: 18px;
    position: absolute;
    width: 18px;
    right: 0;
    top: 11px;
    z-index: 2;
}

.icon:before,
.icon:after {
    background: #333;
    content: '';
    height: 4px;
    right: 0;
    position: absolute;
    top: 0;
    width: 18px;
    transition: transform 500ms ease;
}

.toggle:checked~.icon:before,
.toggle:checked~.icon:after {
    background: #EA2816;
}

.toggle:not(:checked)~.icon:before {
    transform: rotate(180deg);
}

.toggle:not(:checked)~.icon:after {
    transform: rotate(90deg);
}

.toggle {
    width: 100%;
    height: 40px;
    margin: 0;
    opacity: 0;
    cursor: pointer;
    position: absolute;
    top: 0;
    z-index: 3;
}

.border {
    height: 40px;
    border-bottom: 1px solid #333;
}

.toggle:checked~.border {
    border-bottom: 1px solid #EA2816;
}

.spoiler_content {
    padding: 15px 0 0 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    position: relative;
    opacity: 0;
    transition: .4s ease;
}

.toggle:checked~.spoiler_content {
    height: auto;
    opacity: 1;
    z-index: 2;
}
.spoiler_content>p {
    margin-bottom: 20px;
}
