@import url('https://fonts.googleapis.com/css?family=Arimo');
.top-menu {
  background: rgba(255,255,255,.5);
  box-shadow: 3px 0 7px rgba(0,0,0,.3);
  padding: 20px;
		background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(https://zoliryzik.github.io/images/background.png);
	color: #fff;
	font-family: sans-serif;
	background-size: cover;
	background-attachment: fixed;
}
.top-menu:after {
  content: "";
  display: table;
  clear: both;
}
.navbar-logo {
	display: inline-block;
		background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/background.png);
	color: #fff;
	font-family: sans-serif;
	background-size: cover;
	background-attachment: fixed;
	}
.menu-main {
  list-style: none;
  margin: 0;
  padding: 0;
  float: right;

}
.menu-main li {
	display: inline-block;
	margin: 0 10px 0 0;
     padding: 0;
     display: inline-block;
}
.menu-main a {
  text-decoration: none;
  display: block;
  position: relative;
  line-height: 61px;
  padding-left: 5px;
  font-size: 18px;
  letter-spacing: 2px;
  font-family: 'Arimo', sans-serif;
  font-weight: bold;
  color: #ffffff;
  transition:.3s linear;
  border-radius: 45px;
  box-shadow: 0 0 5px 5px #e7d5c0;

}
.menu-main a:before {

  content: "";
  width: 8px;
  height: 8px;
  background: #F73E24;
  position: absolute;
  left: 50%;
  transform: rotate(45deg) translateX(6.5px);
  opacity: 0;
  transition: .3s linear;

}
.menu-main a:hover:before {opacity: 1;}
@media (max-width: 660px) {
.menu-main {
  float: none;
  padding-top: 20px;
}
.top-menu {
  text-align: center;
  padding: 20px 0 0 0;
}
.menu-main a {padding: 0 10px;}
.menu-main a:before {transform: rotate(45deg) translateX(-6px);}
}
@media (max-width: 600px) {
.menu-main li {display: block;}
}
/*фон*/
body {
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/background.png);
	color: #fff;
	font-family: sans-serif;
	background-size: cover;
	background-attachment: fixed;
}
.menu-main {
	background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url(images/background.png);
	color: #fff;
	font-family: sans-serif;
	background-size: cover;
	background-attachment: fixed;
}

h1 {
	text-transform: uppercase;
	text-align: center;
	margin-top: 100px;
	font-size: 50px;
}
/*для сотсетей*/
.shine-button {
  text-decoration: none;
  display: inline-block;
  padding: 10px 30px;
  margin: 10px 20px;
  position: relative;
  overflow: hidden;
  border: 2px solid #fe6637;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #fe6637;
  transition: .2s ease-in-out;
}
.shine-button:before {
  content: "";
  background: linear-gradient(90deg, rgba(255, 255, 255, .1), rgba(255, 255, 255, .5));
  height: 50px;
  width: 50px;
  position: absolute;
  top: -8px;
  left: -75px;
  transform: skewX(-45deg);
}
.shine-button:hover {
  background: #fe6637;
  color: #fff;
}
.shine-button:hover:before {
  left: 150px;
  transition: .5s ease-in-out;
